.cabecalho {
    text-align: center;
    padding-top: 60px;
    margin-top: 92px;
}

.plano-item{
    background-color: #17d19c;
    width: 300px;
    height: 200px;
    text-align: center;
    margin-top: 150px;
}

.plano-item h2{ 
    font-size: 48px;
    color: #fff;
}

.planos {
    width: 960px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.plano-item2{
    background-color: #3C7B69;
    width: 300px;
    height: 100px;
    text-align: center;
    margin-bottom: 80px;
    padding: 10px 0;
    color: #fff;
}

.plano-assinatura {
    background-color: #17d19c;
    padding: 10px;
}

.container-plano h2 {
    text-align: center;
    color: #fff;
}