.formulario {
    margin-top: 122px;
    text-align: center;
}

#busca {
    width: 700px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtros h4 {
    margin-right: 280px;
    margin-bottom: 10px;
} 

.filtros .btn {
    margin-top: 30px;
    margin-bottom: 200px;
}

.filtro-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
    height: 40px;
    border: 1px solid #17d19c;
    border-radius: 12px;
    margin-bottom: 20px;
}  

.filtro-item label {
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}

.filtro-item .item {
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-right: 5px;
    border-style: none;
}
