/* Estilos gerais */

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }
  
  .container {
      width: 960px;
      margin: 0 auto;
      padding: 0px;
      position: relative;
  }
  
  .container:after, .container:before {
      content: " ";
      display: table;
  }
  
  .container:after {
      clear: both;
  }

/* Para as boxes, usar as propriedades abaixo:
float: left;
margin-left: 10px;
margin-right: 10px;  */

/* Tamanho relativo pora as boxes:

.grid-1 	{width: 40px;}
.grid-2 	{width: 100px;}
.grid-3 	{width: 160px;}
.grid-4 	{width: 220px;}
.grid-5 	{width: 280px;}
.grid-6 	{width: 340px;}
.grid-7 	{width: 400px;}
.grid-8 	{width: 460px;}
.grid-9 	{width: 520px;}
.grid-10 	{width: 580px;}
.grid-11 	{width: 640px;}
.grid-12 	{width: 700px;}
.grid-13 	{width: 760px;}
.grid-14 	{width: 820px;}
.grid-15 	{width: 880px;}
.grid-16 	{width: 940px;}
.grid-1-3	{width: 300px;}

*/

/* Header */